{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'donate/css/donate.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container h-100 text-center">
    <div class="row">
        <h1 class="display-4 text-success">Donation Not Processed</h1>
    </div>
</div>
{% endblock %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 text-center" id="form-styling">
                <h3>Donation Not Processed</h3>
                <a href="{% url 'posts' %}">Click here to return to Posts Page</a>
            </div>
        </div>
    </main>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}
