{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'donate/css/donate.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container h-100 text-center">
    <div class="row">
        <h1 class="display-4 text-success">Donate</h1>
    </div>
    <hr>
</div>
{% endblock %}

{% block content %}

<div class="container h-100 text-center">
<h2>Your Support Counts</h2>
</div>

<main class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 text-center" id="form-styling">
            <h3>Support Us</h3>
            <p class="main-text">
                Make a Donation of Any Amount<br>
            </p>
        </div>
    </div>

    <form action="{% url 'charge' %}"  method="post" id="payment-form">
    {% csrf_token %}

    <div class="mb-3">
        <label for="username" class="form-label">Name</label>
        <input required type="text" class="form-control" name = "username" id="username" placeholder="Name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input required type="text" class="form-control" name = "email"  id="email" placeholder="Email">
      </div>
      <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="amount" name = "amount" placeholder="Amount">
      </div>

    <div class="form-row">
        <span><br></span>
        <label for="card-element">
        Credit or debit card
        </label>
        <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
        </div>
        
        <!-- Used to display Element errors. -->
        <div id="card-errors" role="alert"></div>
    </div>
    <br>
        
    <div class="form-row">
        <button type="submit" class="btn btn-warning" id="submitBtn">Donate</button>
        <button type="submit" class="btn cancelBtn" id="cancelBtn"><a href="{% url 'cancel' %}"> Cancel</a></button>
    </div>
    </form>

</main>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'donate/js/stripe.js' %}"></script>
{% endblock %}

