{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'donate/css/donate.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <h1 class="display-4 text-success">Pomodoro Donate</h1>
    </div>
</div>
{% endblock %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 text-center" id="form-styling">
                <h3>Support Us</h3>
                <p class="main-text">
                    Make Donation of Any Amount<br>
                </p>
                <button type="submit" class="btn btn-warning" id="submitBtn">Donate</button>
            </div>
        </div>
    </main>

{% endblock %}

{% comment %} 
{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'donate/js/stripe.js' %}"></script>
{% endblock %}
{% endcomment %}