{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'donate/css/donate.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container text-center">
    <hr>
    <div class="row">
        <h1 class="display-4 fw-bold text-success">Donations Received</h1>
    </div>
    <hr>
</div>
{% endblock %}

{% block content %}

<div class="container h-100 text-center">
<h2>Our Generous Donors</h2>
</div>

<div class="container mb-2">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 text-center" id="form-styling">
            <p class="main-text">
                Donation Details<br>
            </p>
        </div>
    </div>

    <hr>
    <div class="table-responsive-sm">
    <table class="table table-boardered table-center">
    {% for donation in donations %}
        <tr>
            <td> {{ donation.donor_name}} </td>
            <td> {{ donation.donor_email}} </td>
            <td> {{ donation.donate_date}} </td>
            <td> {{ donation.amount}} </td>
        </tr>
    {% empty %}
        <tr>
            <td></td>
        </tr>
    {% endfor %}
    </table>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <a class = "btn btn-outline-primary mb-2" href="{% url 'home' %}">Home</a>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}

