{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}">  -->
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <h1 class="display-4 fw-bold text-success text-center ">Blog Posts</h1>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 text-center" id="form-styling">
            <h2>Published Posts</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8 pt-5">
            {% for post in posts %}
                {% if post.status == 'published' %}
                <hr>
                    <div class="col-12"><h1>
                        <a class="link-dark text-decoration-none" href="{{post.get_absolute_url}}"> {{post.title}}</a>
                    </h1></div>
                    <div class="col-12"> {{post.excerpt|safe}}</div>
                        {% if post.author == user %}
                        <div>
                            <a class = "btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.slug %}">Update</a>
                            <a class = "btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.slug %}">Delete</a>
                        </div>
                        {% endif %}
                {% endif %}
            {% empty %}
                <div class="row">
                    There are no available posts
                </div>
            {% endfor %}
        </div>   
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}

