{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}"> {% endcomment %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <h1 class="display-4 text-success"> {{ topiclist.topic }}</h1>
    </div>
</div>
{% endblock %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 text-center" id="form-styling">
            <h3>{{ topiclist.topic }} Blog Posts </h3>
            <p class="main-text">
                Published Posts<br>
            </p>
            {% comment %} <button type="submit" class="btn btn-warning" id="publishBtn">Publish</button>
            <button type="submit" class="btn btn-warning" id="unpublishBtn">UnPulish</button> {% endcomment %}
        </div>
    </div>
    <body>
        <div class="row">
            <div class="col">
                <!-- {{ posts }} -->
            </div>
        </div>     

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8 pt-5">
                {% for post in topiclist.posts %}
                <div class="col-md-4">
                    <a class="text-dark" href="{{post.get_absolute_url}}"> {{post.title}}
                    {% if post.status == 'published' %}
                    <div class="class card mb-4 box-shadow">  
                        <div class="card-body">
                            <div class="col-12"> {{post.excerpt|safe}}</div><br>
                        </div>
                        <div class="col-12"><h1>
                            {% if post.author == user %}
                                <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.slug %}">Update</a>
                                <a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.slug %}">Delete</a>
                            {% endif %}
                        </h1></div><br>
                        </a>
                    </div>
                    {% endif %}
                </div>
                {% empty %}
                    <div class="row">
                        There are no available posts
                    </div>
                {% endfor %}
            </div>   
        </div>
    </div>
   </body>
</main>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}

