{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="container">
<div class="container">
    <div class="row justify-content-md-center pt-5">
        <div class="col-md-8">

        <div class="col-12">
            <h1>{{post.title}}</h1><br>
            <h2>by {{post.author}}</h2><br>
        </div>
        <div class="col-md-12">
            <p>{{post.content|safe}}</p>
        </div>

        <a class="btn btn-outline-primary text-decoration-none" href="{% url 'posts' %}">Return to Posts</a>
        <hr>

        <div class="colmd-12">
            <!-- Existing Comments -->
            {% with comments.count as total_comments %}
            <h2>
                {{ total_comments }} comment{{ total_comments|pluralize }}
            </h2>
            <hr>
            {% endwith %}
            {% for comment in comments %}
                {{ comment.content|linebreaks }}
                <div class="fw-light fst-italic">Comment {{ forloop.counter }} by {{comment.name}}
                on {{ comment.publish }} </div> 
                <hr>
            {% empty %}
                <p>There are no comments for this post.</p>
            {% endfor %}
            <!-- Existing Comments -->

            <!-- Comment Form -->
            <h2>Make a new comment</h2>

            <form id ="commentForm" method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary">Submit Comment</button>
            </form>
            <!-- Comment form -->
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    function newFunction() {
    document.getElementById("commentForm").reset();
    }
</script>
{% endblock %}
