{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}"> {% endcomment %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <h1 class="display-4 fw-bold text-success text-center">Delete {{ user.username }}'s Post</h1>
    </div>
    <hr>
</div>
{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 text-center">
            <h2>Confirm Delete Post</h2>
        </div>
    </div>
</div>
<div class="col-10 offset-1 col-md-6 offset-md-3" id="form-styling">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend class="border-bottom mb-4 text-center"></legend>
            <h4 class="text-center fw-normal">{{ object.title }}</h4>
        </fieldset>
        <hr>
        <div class="form-group">
            <button class="btn btn-outline-danger submit-btn" type="submit">Yes Delete</button>
            <a class="btn btn-outline-black submit-btn" href="{% url 'post_detail' object.slug %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}
