{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <hr>
    <div class="row">
        <h1 class="display-4 text-success text-center"> Search Posts</h1>
    </div>
    <hr>
</div>
{% endblock %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 text-center" id="form-styling">
            <h3>Search Published Posts</h3>
        </div>
    </div>

    <body>
    {% if q %}
        <h1>Blog Posts results from search</h1>
        <p>
            {% with results.count as total_results %}
            Found {{ total_results }} result{{ total_results|pluralize}}
            {% endwith %}
        </p>

            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row gy-2">
                    {% for post in results %}
                        <div class="col-md-4">
                            <div class="card h-100 md-4 shadow">                            
                                <div class="card-body">
                                    <h2 ><a  class="text-decoration-none " href="{{ post.get_absolute_url}}">{{post.title}}</a></h2>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">{{post.author}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>There are no post for your search</p>    
                        {% endfor %}
                    </div>
                </div>
            </div>

        <p><a href="{% url 'posts_search' %}" class="btn btn-primary mt-5" role="button" aria-disabled="true">New Search</a></p>

    {% else %}
        <form method="get">
            {{ form.as_p }} 
            <input type="submit" value="Search" class="btn btn-primary mb-2" >
        </form>
    {% endif %}   
    </body>
</main>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}

